.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display.summer i {
    color: #f4e310;
}

.season-display.summer h1 {
    color: #f4e310;
    font-size: 5rem;
}

.season-display.winter i {
    color: #b1c5ce;
}

.season-display.winter h1 {
    color: #b1c5ce;
    font-size: 5rem;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
}

.winter {
    background: #2cadea;
}

.summer {
    background: #f38b22;
}